body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Botão voltar */
.voltar {
    display: flex;
    margin: 15px;
}

/* CARD PRINCIPAL */
.informacoes-estabelecimento {
    display: grid;
    grid-template-columns: 150px 1fr; /* foto | conteúdo */
    gap: 12px;
    align-items: center;

    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
}

/* IMAGEM */
.foto-estabelecimento img {
    width: 150px;
    height: 130px;
    object-fit: cover;
    border-radius: 8px;
}

/* BLOCO DE TEXTO */
.texto-estabelecimento {
    display: grid;
    gap: 6px;
}

/* LINHA NOME + ESTRELA */
.linha-nome {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

/* NOME */
.linha-nome b {
    font-size: 16px;
}

/* TIPO */
.texto-estabelecimento small {
    color: #666;
}

/* AVALIAÇÃO */
.avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

/* LINHA INFERIOR */
.texto-tempo-delivery {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 5px;
}

/* TEMPO (ESQUERDA) */
.tempo-esquerda {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* TEXTO DIREITA */
.tempo-direita {
    font-size: 14px;
}


/* TÍTULO DA CATEGORIA */
.categoria-titulo {
    margin-left: 15px;
    font-size: 18px;
}

/* CARD DO ITEM */
.card-item {
    border: 2px solid #ccc;
    border-radius: 16px;
    padding: 15px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
}

/* CONTEÚDO */
.item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-info small {
    color: #aaa;
}

.item-info span {
    margin-top: 5px;
}