<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrinho.css') }}">
    <title>Carrinho de Compras</title>
</head>
<body>
    <div class="voltar">
        <a href="{{ url_for('pagina_inicial.pagina_inicial') }}">
            <img src="{{ url_for('static', filename='images/icons/voltar_black.png') }}" width="40" alt="Relógio">
        </a>
    </div>

    <div class="titulo-carrinho">
        <b>Carrinho de Compras</b>
    </div>

    <div class="nome-estabelecimento">
        {% if nome_estabelecimento %}
            <h1>{{ nome_estabelecimento }}</h1>
        {% else %}
            <h1>Vazio...</h1>
            <small>Você não tem nenhum produto em seu carrinho de compras.</small>
            <br>
            <img src="{{ url_for('static', filename='images/images/carrinho_compras_vazio.png') }}" width="500" alt="Carrinho Vazio">
        {% endif %}
    </div>

    {% for item in carrinho %}
        <div class="card-item">

            <div class="item-quantidade">
                <b>{{ item.quantidade }}x</b>
            </div>

            <div class="item-info">
                <b>{{ item.nome }}</b>

                {% for opcao in item.opcoes %}
                    <small>{{ opcao.nome }} - R${{ opcao.preco }}</small>
                {% endfor %}

                <div class="preco-total">
                    <b>Preço Total: R$ {{ item.preco_total }}</b>
                </div>
            </div>

            <div class="botoes">
                <a class="botao-editar">
                    Editar
                </a>

                <a class="botao-remover">
                    Remover
                </a>
            </div>

        </div>
    {% endfor %}
    


</body>
</html>