<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estabelecimento.css') }}">
    <title>Estabelecimento</title>
</head>
<body>
    <div class="voltar">
        <a href="{{ url_for('pagina_inicial.pagina_inicial') }}">
            <img src="{{ url_for('static', filename='images/icons/voltar_black.png') }}" width="40" alt="Relógio">
        </a>
    </div>

    <div class="informacoes-estabelecimento">
        <div class="foto-estabelecimento">
            <img  src="{{ url_for('static', filename=caminho_foto if caminho_foto else 'images/icons/restaurante.png') }}" width="150">            
        </div>

        <div class="texto-estabelecimento">

            <div class="linha-nome">
                <div>
                    <b>{{ nome }}</b><br>
                    <small>{{ tipo }}</small>
                </div>
                <div class="avaliacao">
                    <img src="{{ url_for('static', filename='images/icons/estrela_black.png') }}" width="20" alt="Avaliação"><br>
                    {{ avaliacao }}
                </div>
            </div>
            
            <div class="texto-tempo-delivery">
                <div class="tempo-esquerda">
                    <img src="{{ url_for('static', filename='images/icons/relogio_black.png') }}" width="20" alt="Relógio">
                    <small>{{ tempo_delivery }}</small>
                </div>
                <div class="tempo-direita">
                    <b>Mínimo:</b> {{ pedido_minimo }}
                </div>
            </div>
        </div>
    </div>

    {% for categoria in cardapio %}

        <h2 class="categoria-titulo">{{ categoria.nome }}</h2>

        {% for item in categoria.itens %}
            <div class="card-item">

                <div class="item-info">
                    <b>{{ item.nome }}</b>
                    <small>{{ item.descricao }}</small>
                    <span>A partir de R$ {{ item.preco }}</span>
                </div>

            </div>
        {% endfor %}

    {% endfor %}

</body>
</html>

