<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
    <title>Item</title>
</head>
<body>
    <div class="voltar">
        <a href="{{ url_for('estabelecimento.estabelecimento', id=id_estabelecimento) }}">
            <img src="{{ url_for('static', filename='images/icons/voltar_black.png') }}" width="40" alt="Relógio">
        </a>
    </div>

    <div
        id="item"
        data-id="{{ id }}"
        data-nome="{{ nome }}"
        data-preco="{{ preco }}"
        data-id-estabelecimento="{{ id_estabelecimento }}"
        data-nome-estabelecimento="{{ nome_estabelecimento }}"
    ></div>

    <div class="informacoes-item">
        <b>{{ nome }}</b>
        <small>{{ descricao }}</small>
    </div>

    <div class="opcoes-scroll">

        {% for opcao in opcoes %}
            <div class="opcao-inteira">

                <b class="opcao-nome">{{ opcao.nome }}</b>

                {% for item in opcao.itens %}
                    <div class="opcao-item">
                        

                        <label class="opcao-esquerda">
                            <input
                                type="radio"
                                name="opcao_{{ opcao.id }}"
                                value="{{ item.id }}"
                                data-preco="{{ item.preco }}"
                                data-nome="{{ item.nome }}"
                                data-id-opcao="{{ opcao.id }}"
                                data-id-opcao-valor="{{ item.id }}"

                                {% if item_carrinho %}

                                    {% for opcao_carrinho in item_carrinho.opcoes %}

                                        {% if opcao_carrinho.id_opcao_valor|string == item.id|string %}
                                            checked
                                        {% endif %}

                                    {% endfor %}

                                {% endif %}
                            >
                            <span>{{ item.nome }}</span>
                        </label>
                        <span>R$ {{ item.preco }}</span>

                    </div>
                {% endfor %}
                    
            </div>
        {% endfor %}
    </div>

    <div class="adicionar-carrinho">

        <div class="quantidade">
            <span>Quantidade</span>

            <div class="controle-quantidade">
                <button type="button" class="btn-menos">-</button>
                <span id="qtd">
                    {{ item_carrinho.quantidade if item_carrinho else 1 }}
                </span>
                <button type="button" class="btn-mais">+</button>
            </div>
        </div>

        <button class="botao-adicionar-carrinho" id="btn-carrinho">
            {% if index %}
                Salvar Alterações •
            {% else %}
                Adicionar •
            {% endif %}
            <span id="preco-total">R$ 0,00</span>
        </button>

    </div>

</body>

<script>
    let quantidade = parseInt(
        document.getElementById("qtd").innerText
    );
    const precoBase = 0; // preço do item principal

    const qtdEl = document.getElementById("qtd");
    const precoEl = document.getElementById("preco-total");

    // pega todos os radios
    const radios = document.querySelectorAll('input[type="radio"]');

    function calcularPrecoOpcoes() {
        let totalOpcoes = 0;

        // percorre todos os radios
        radios.forEach(radio => {
            if (radio.checked) {
                totalOpcoes += parseFloat(radio.dataset.preco);
            }
        });

        return totalOpcoes;
    }

    function atualizar() {
        const totalOpcoes = calcularPrecoOpcoes();
        const total = (precoBase + totalOpcoes) * quantidade;

        qtdEl.innerText = quantidade;
        precoEl.innerText = "R$ " + total.toFixed(2);
    }

    // eventos quantidade
    document.querySelector(".btn-mais").onclick = () => {
        quantidade++;
        atualizar();
    };

    document.querySelector(".btn-menos").onclick = () => {
        if (quantidade > 1) {
            quantidade--;
            atualizar();
        }
    };

    // evento quando seleciona opção
    radios.forEach(radio => {
        radio.addEventListener("change", atualizar);
    });

    atualizar();
</script>

<script>

    document.getElementById("btn-carrinho").addEventListener("click", async () => {

        // -------------------------
        // ITEM PRINCIPAL
        // -------------------------

        const item = {

            id: document.getElementById("item").dataset.id,
            nome: document.getElementById("item").dataset.nome,
            preco: document.getElementById("item").dataset.preco,
            id_estabelecimento: document.getElementById("item").dataset.idEstabelecimento,
            nome_estabelecimento: document.getElementById("item").dataset.nomeEstabelecimento

        };


        // -------------------------
        // QUANTIDADE
        // -------------------------

        const quantidade = parseInt(
            document.getElementById("qtd").innerText
        );


        

        // -------------------------
        // VERIFICANDO SE TEM ALGO MARCADO
        // -------------------------

        const grupos = document.querySelectorAll(".opcao-inteira");

        let possuiErro = false;

        grupos.forEach(grupo => {

            const radioSelecionado = grupo.querySelector(
                'input[type="radio"]:checked'
            );

            const possuiRadio = grupo.querySelector(
                'input[type="radio"]'
            );

            if (possuiRadio && !radioSelecionado) {

                possuiErro = true;

            } else {

                grupo.style.border = "none";

            }

        });

        if (possuiErro) {

            return;
        }

        
        // -------------------------
        // OPÇÕES
        // -------------------------

        const opcoesSelecionadas = [];

        grupos.forEach(grupo => {

            // RADIO
            const radioSelecionado = grupo.querySelector(
                'input[type="radio"]:checked'
            );

            if (radioSelecionado) {

                opcoesSelecionadas.push({

                    id_opcao_valor: radioSelecionado.dataset.idOpcaoValor,
                    nome: radioSelecionado.dataset.nome,
                    preco: radioSelecionado.dataset.preco,
                    tipo: "radio",
                    id_opcao: radioSelecionado.dataset.idOpcao

                });

            }


            // CHECKBOX
            const checkboxesSelecionados = grupo.querySelectorAll(
                'input[type="checkbox"]:checked'
            );

            checkboxesSelecionados.forEach(checkbox => {

                opcoesSelecionadas.push({

                    id_opcao_valor: checkbox.dataset.idOpcaoValor,
                    nome: checkbox.dataset.nome,
                    preco: checkbox.dataset.preco,
                    tipo: "checkbox",
                    id_opcao: checkbox.dataset.idOpcao

                });

            });

        });


        // -------------------------
        // DADOS FINAIS
        // -------------------------

        const dados = {

            item: item,
            quantidade: quantidade,
            opcoes: opcoesSelecionadas,

            index: "{{ index if index else '' }}"

        };

        console.log(dados);


        // -------------------------
        // ENVIA PARA O BACKEND
        // -------------------------

        const resposta = await fetch("/adicionar_carrinho", {

            method: "POST",

            headers: {
                "Content-Type": "application/json"
            },

            body: JSON.stringify(dados)

        });

        const resultado = await resposta.json();

        if (resultado.url) {
            window.location.href = resultado.url;
        }

    });

</script>

</html>