<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
    <title>Item</title>
</head>
<body>
    <div class="voltar">
        <a href="{{ url_for('estabelecimento.estabelecimento', id=id_estabelecimento) }}">
            <img src="{{ url_for('static', filename='images/icons/voltar_black.png') }}" width="40" alt="Relógio">
        </a>
    </div>

    <div class="informacoes-item">
        <b>{{ nome }}</b>
        <small>{{ descricao }}</small>
    </div>

    <div class="opcoes-scroll">

        {% for opcao in opcoes %}
            <div class="opcao-inteira">

                <b class="opcao-nome">{{ opcao.nome }}</b>

                {% for item in opcao.itens %}
                    <div class="opcao-item">
                        

                        <label class="opcao-esquerda">
                            <input
                                type="radio"
                                name="opcao_{{ opcao.id }}"
                                value="{{ item.id }}"
                                data-preco="{{ item.preco }}"
                            >
                            <span>{{ item.nome }}</span>
                        </label>
                        <span>R$ {{ item.preco }}</span>

                    </div>
                {% endfor %}
                    
            </div>
        {% endfor %}
    </div>

    <div class="adicionar-carrinho">

        <div class="quantidade">
            <span>Quantidade</span>

            <div class="controle-quantidade">
                <button type="button" class="btn-menos">-</button>
                <span id="qtd">1</span>
                <button type="button" class="btn-mais">+</button>
            </div>
        </div>

        <button class="botao-adicionar-carrinho">
            Adicionar • <span id="preco-total">R$ 0,00</span>
        </button>

    </div>

</body>

<script>
    let quantidade = 1;
    const precoBase = 0; // preço do item principal

    const qtdEl = document.getElementById("qtd");
    const precoEl = document.getElementById("preco-total");

    // pega todos os radios
    const radios = document.querySelectorAll('input[type="radio"]');

    function calcularPrecoOpcoes() {
        let totalOpcoes = 0;

        // percorre todos os radios
        radios.forEach(radio => {
            if (radio.checked) {
                totalOpcoes += parseFloat(radio.dataset.preco);
            }
        });

        return totalOpcoes;
    }

    function atualizar() {
        const totalOpcoes = calcularPrecoOpcoes();
        const total = (precoBase + totalOpcoes) * quantidade;

        qtdEl.innerText = quantidade;
        precoEl.innerText = "R$ " + total.toFixed(2);
    }

    // eventos quantidade
    document.querySelector(".btn-mais").onclick = () => {
        quantidade++;
        atualizar();
    };

    document.querySelector(".btn-menos").onclick = () => {
        if (quantidade > 1) {
            quantidade--;
            atualizar();
        }
    };

    // evento quando seleciona opção
    radios.forEach(radio => {
        radio.addEventListener("change", atualizar);
    });

    atualizar();
</script>

</html>