<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body>

    <div class="logo">
        <img src="{{ url_for('static', filename='images/images/logo_bao_d_mais_sem_fundo.png') }}">
    </div>

    <h1>Login</h1>

    {% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
            {% for categoria, mensagem in mensagens %}
                <div class="alerta {{ categoria }}">
                    {{ mensagem }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="campos">

        <div class="voltar">
            <a href="{{ url_for('/.index') }}">
                <img src="{{ url_for('static', filename='images/icons/voltar_black.png') }}" width="40" alt="Voltar">
            </a>
        </div>

        <form method="POST" action="{{ url_for('login.login') }}">
        
            <div class="e-mail">
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email">
            </div>

            <div class="senha">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha">
            </div>

            <button type="submit" class="btn-primario">
                Fazer Login
            </button>

        </form>

    </div>

<script>
    setTimeout(() => {
        const alertas = document.querySelectorAll('.alerta');
        alertas.forEach(alerta => {
            alerta.style.opacity = '0';
            setTimeout(() => alerta.remove(), 500);
        });
    }, 2500); // 2.5 segundos
</script>

</body>
</html>