<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina_inicial.css') }}">
    <title>Página Inicial</title>
</head>

<body>

    <div class="container">

        <div class="topo">
            <h3>Olá, username!</h3>
            <div class="icones">
                <a href="{{ url_for('carrinho.carrinho') }}">
                    <img src="{{ url_for('static', filename='images/carrinho_black.png') }}" width="35" alt="Carrinho">
                </a>
                <a href="{{ url_for('usuario.usuario') }}">
                    <img src="{{ url_for('static', filename='images/usuario_black.png') }}" width="35" alt="Usuário">
                </a>
            </div>
        </div>

        <div>
            <input class="pesquisa" type="text" id="pesquisa" placeholder="Pesquise um estabelecimento...">
        </div>

        <div class="categorias">
            <div><img src="{{ url_for('static', filename='images/hamburguer_black.png') }}" width="50" alt="Lanche"><br>Lanches</div>
            <div><img src="{{ url_for('static', filename='images/pizza_black.png') }}" width="50" alt="Pizza"><br>Pizzas</div>
            <div><img src="{{ url_for('static', filename='images/bebida_black.png') }}" width="50" alt="Bebida"><br>Bebidas</div>
            <div><img src="{{ url_for('static', filename='images/prato_black.png') }}" width="50" alt="Prato"><br>Pratos</div>
            <div><img src="{{ url_for('static', filename='images/outros_black.png') }}" width="50" alt="Outros"><br>Outros</div>
        </div>

        <div class="disponiveis">
            <h3>Disponíveis:</h3>
            <hr>
        </div>
        
        {% for estabelecimento in estabelecimentos %}
        <div class="container-card">

            <a href="{{ url_for('estabelecimento.estabelecimento') }}" class="card-link">
            <div class="card-estabelecimento">
                <div class="informacoes-estabelecimento">
                    <!-- Grupo da Esquerda -->
                    <div class="lado-esquerdo">
                        <img src="{{ url_for('static', filename='images/restaurante.png') }}" width="50" alt="Foto">
                        <div class="texto-estabelecimento">
                            <b>{{ estabelecimento[1] }}</b>
                            <span>{{ estabelecimento[2] }}</span><br>
                            <small>Aceita Cartão • Recebe Pix</small>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            
            <!-- Grupo da Direita -->
            <div class="icones-direita">
                <img src="{{ url_for('static', filename='images/favorito_black.png') }}" width="20" height="20" alt="Favoritar">
                <br>
                <img src="{{ url_for('static', filename='images/estrela_black.png') }}" width="20" alt="Avaliação">
                <small>{{ estabelecimento[3] }}</small>
            </div>

        </div>
        {% endfor %}

    </div>
</body>

</html>